@font-face {
  font-family: "Hanken Grotesk";
  src: url("assets/fonts/HankenGrotesk-VariableFont_wght.ttf")
    format("truetype");
}

html {
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 1440px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  font-family: "Hanken Grotesk", sans-serif;
  font-variation-settings: "wght" 500;
  background-color: white;
  gap: 64px;
}

img {
  max-width: 100%;
  display: block;
}
main {
  /* width: 42vw; */
  width: 800px;
  height: 500px;
  border-radius: 30px;
  display: flex;
  box-shadow: 3px 6px 30px hsl(234, 85%, 95%);
}

.result,
.summary {
  display: flex;
  flex-direction: column;
  padding: 1% 5%;
  width: 50%;
  align-items: center;
  justify-content: space-evenly;
}

.result {
  background: linear-gradient(180deg, hsl(252, 100%, 63%), hsl(241, 81%, 55%));
  border-radius: 30px;
}

.title {
  font-size: 24px;
  font-variation-settings: "wght" 700;
}
.result .title {
  color: hsl(241, 100%, 89%);
}

.summary .title {
  align-self: flex-start;
  color: hsl(224, 30%, 27%);
}

.result .score {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 220px;
  height: 220px;
  box-sizing: border-box;
  border-radius: 50%;
  background: linear-gradient(
    180deg,
    hsl(256, 82%, 46%),
    hsla(241, 82%, 46%, 0.01)
  );
}

.result .score span:nth-child(odd) {
  font-size: 76px;
  font-variation-settings: "wght" 800;
  color: hsl(221, 100%, 96%);
  line-height: 1.1;
}

.result .score span:nth-child(even) {
  font-size: 18px;
  font-variation-settings: "wght" 700;
  color: hsla(221, 100%, 96%, 50%);
}

.eval {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.eval span:nth-child(odd) {
  font-size: 32px;
  font-variation-settings: "wght" 700;
  color: hsl(221, 100%, 96%);
  line-height: 2;
}

.eval span:nth-child(even) {
  margin-left: 25px;
  margin-right: 25px;
  font-size: 18px;
  font-variation-settings: "wght" 700;
  color: hsla(221, 100%, 96%, 50%);
  text-align: center;
}

/*  */
.summary .stats-container {
  display: flex;
  flex-direction: column;
  height: 320px;
  justify-content: center;
  width: 100%;
  font-size: 20px;
  gap: 16px;
}

.stats-container .stats {
  display: flex;
  justify-content: space-between;
  border-radius: 10px;
  box-sizing: border-box;
  padding: 5%;
}

.stats-container .stats .points {
  color: hsla(224, 30%, 27%, 50%);
}

.stats-container .stats .points span {
  font-variation-settings: "wght" 800;
  color: hsl(224, 30%, 27%);
}

.stats-container .stats:nth-child(1) {
  background-color: hsl(0, 100%, 98%);
  color: hsl(0, 100%, 67%);
}

.stats-container .stats:nth-child(2) {
  background-color: hsl(39, 100%, 98%);
  color: hsl(39, 100%, 56%);
}

.stats-container .stats:nth-child(3) {
  background-color: hsl(166, 100%, 98%);
  color: hsl(166, 100%, 37%);
}

.stats-container .stats:nth-child(4) {
  background-color: hsl(234, 85%, 98%);
  color: hsl(234, 85%, 45%);
}

.stats .text {
  display: flex;
  gap: 12px;
  align-items: center;
  padding-left: 8px;
}

.stats .points {
  padding-right: 8px;
}

.btn {
  font-family: "Hanken Grotesk";
  font-variation-settings: "wght" 800;
  background-color: hsl(224, 30%, 27%);
  color: hsl(0, 0%, 100%);
  width: 100%;
  padding: 15px 0;
  border: 0;
  border-radius: 30px;
  font-size: 18px;
}

.btn:hover {
  cursor: pointer;
  background: linear-gradient(180deg, hsl(252, 100%, 67%), hsl(241, 81%, 54%));
}

@media (max-width: 375px) {
  main {
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100vh;
  }
  .result,
  .summary {
    width: 100%;
    padding: 10%;
    box-sizing: border-box;
    height: 50vh;
  }

  .result {
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
  }
  .summary {
    padding: 5% 10%;
  }
  .title {
    font-size: 18px;
  }
  .summary .title {
    line-height: 2;
  }
  .result .score {
    width: 140px;
    height: 140px;
  }

  .result .score span:nth-child(odd) {
    font-size: 50px;
  }

  .result .score span:nth-child(even) {
    font-size: 16px;
  }

  .eval span:nth-child(odd) {
    font-size: 24px;
  }

  .eval span:nth-child(even) {
    font-size: 16px;
    margin-left: 15px;
    margin-right: 15px;
  }
  .stats-container .stats {
    padding: 4% 2%;
  }

  .stats .text {
    font-size: 16px;
  }
  .stats .points {
    font-size: 16px;
  }
}
